body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #100422;
    margin: 0;
    padding: 50px 20px;
}
 
.login-form {
    background: linear-gradient(150deg, rgb(53, 38, 78), purple);
    color: rgb(241, 245, 226);
    border: 1px solid rgb(117, 55, 117);
    border-radius: 10px;
    width: 400px;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
 
.login-title,
.input-group,
.login-btn {
    margin: 15px 0;
}
 
.login-title {
    font-size: 20px;
    text-align: center;
}
 
.input-label {
    display: block;
    margin-bottom: 5px;
}
 
.input-field {
    width: 200px;
    background-color: rgb(216, 208, 198);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 7px;
    height: 30px;
    padding: 0 10px;
    transition: border-color 0.7s;
}
 
.input-field:focus {
    border-color: hotpink;
    outline: none; /*tirar borda*/
}
 
.login-btn {
    background-color: rgb(61, 7, 38);
    color: white;
    border: 2px solid rgb(61, 7, 38);
    border-radius: 7px;
    padding: 8px 16px;
    cursor: pointer;
    transition: ease-in .5s;
}
 
.login-btn:hover {
    background-color: #6a0dad;
    border: 2px solid rgb(255, 255, 255);
}
