* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

main {
    margin: 0 20px;

}

#catalog {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    margin: 0 10% auto;
}

.item {
    display: inline-block;
    width: 15vw;
    height: 20vh;
    margin: 20px;
    padding: 10px;
    border: 2px solid purple;
    border-radius: 7px;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    overflow: hidden;
}

.product-info {
    display: inline-block;
    margin: 2% 0;

}

form {
    display: flex;
    flex-flow: column wrap;
    border: 1px solid black;
    width: 20%;
    align-items: start;
}

.form-item {
    display: inline-block;
    width: fit-content;
    margin: 5px 0;
}

.btn-search:hover {
    cursor: pointer;
}